 <!-- header -->
 <header class="header-sticky header-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <a class="navbar-brand" href="../../index.html">
          <img class="navbar-logo navbar-logo-light" src="../../assets/assets/images/demo/logo/logo-light.svg"
            alt="Logo">
          <img class="navbar-logo navbar-logo-dark" src="../../assets/assets/images/demo/logo/logo-dark.svg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="burger"><span></span></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PROJECTS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  
                  <a class="dropdown-item" href="../../landing-pages.html">
                    <span>OrdrUp</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../inner-pages.html">
                    <span>Promptu</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Challenge For Change</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Refugee VR Experience</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Jackstones</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Bluetooth Arduino Vacuum</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Radiothon Booth</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>Snapchat Lenses</span>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  RESUME
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../../landing-pages.html">
                    <span>Download Resume</span>
                  </a>
                 
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link text-black" style="cursor:pointer; font-weight: normal;" role="button">
                ABOUT
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" style="cursor:pointer; font-weight: normal;" role="button">
                  CONTACT
                </a>
              </li>
          </ul>

        </div>
      </nav>
    </div>
  </header>
  <!-- header -->