<!-- header -->
<header class="header-sticky header-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <a class="navbar-brand" href="../index.html">
        <img
          class="navbar-logo navbar-logo-dark"
          src="../../assets/images/Martin-Logo-Dark.png"
          alt="Logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="burger"><span></span></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a
              class="nav-link text-black"
              style="cursor: pointer"
              [routerLink]="['/']"
              pageScroll
              href="#projects"
            >
              PROJECTS
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-black"
              style="cursor: pointer;"
              [routerLink]="['/']"
              pageScroll
              href="#resume"
            >
              RESUME
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-black"
              style="cursor: pointer;"
              [routerLink]="['/']"
              pageScroll
              href="#about"
            >
              ABOUT
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-black"
              style="cursor: pointer;"
              [routerLink]="['/']"
              pageScroll
              href="#contact"
            >
              CONTACT
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- header -->
