
<footer class="bg-dark text-white">
  <div class="separator-bottom py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <p class="lead">Driving creativity, functionality and innovation into digital solutions</p>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="socials">
            <li><a href="" class="icon-facebook fs-20"></a></li>
            <li><a href="" class="icon-instagram fs-20"></a></li>
            <li><a href="" class="icon-twitter fs-20"></a></li>
            <li><a href="" class="icon-linkedin fs-20"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-1">
          <img class="logo-sm" src="../assets/images/demo/logo/logo-light.svg" alt="Logo">
        </div>
        <span class="copyright-text">&copy; GO. 2018 All Right Reserved</span>
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><a href="">Programs</a></li>
          <li class="list-group-item"><a href="">Trainers</a></li>
          <li class="list-group-item"><a href="">Spa</a></li>
          <li class="list-group-item"><a href="">Events</a></li>
          <li class="list-group-item"><a href="">Schedule</a></li>
        </ul>
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><a href="">Contacts</a></li>
          <li class="list-group-item"><a href="">About Us</a></li>
          <li class="list-group-item"><a href="">Legal Information</a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="tel:372-567-89-89" class="phone bordered">+372 567 89 89</a>
      </div>
    </div>
  </div>
</footer>