<footer class="bg-dark text-white">
  <div class="container pb-5">
    <div class="row">
      <div class="col">
        <h2 class="h3">
          Driving <i>creativity</i> , <i>innovation</i> and
          <i>functionality</i> into digital solutions.
        </h2>
      </div>
      <div class="col text-right">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><a href="">PROJECTS</a></li>
          <li class="list-group-item"><a href="">RESUME</a></li>
          <li class="list-group-item"><a href="">ABOUT</a></li>
          <li class="list-group-item"><a href="">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="separator-top">
    <div class="container py-5">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <img
            class="logo-md"
            src="../../assets/images/Martin-Logo-Light.png"
            alt="Logo"
          />
        </div>
        <div class="col text-right">
          <ul class="socials">
            <li><a href="" class="icon-facebook text-facebook fs-20"></a></li>
            <li><a href="" class="icon-instagram text-instagram fs-20"></a></li>
            <li><a href="" class="icon-twitter text-twitter fs-20"></a></li>
            <li><a href="" class="icon-linkedin text-linkeding fs-20"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
