<body>
  <!-- hero -->
  <section class="hero hero-with-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <h1 class="text-decorated"><b>Challenge For Change</b></h1>
          </div>
          <p class="fs-20">
            Challenge For Change is an instagram-like social app with an added
            component. You can challenge your peers and journey together to
            achieve a common goal. For Team World Vision's Chicago Marathon, my
            team and I created a fitness iteration of this app to help team
            members achieve their fitness goals. The many features of this app
            include a feed of completed challenges that include likes and
            comments, push notifications, user profiles, a leaderboard and an
            ecosystem of coins. The app is fully adaptable for use in social
            campaigns and for raising donations.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img
            src="../../assets/images/images/ChallengeForChange.png"
            alt=""
            width="100%"
          />
          <h4 class="mt-5">
            Concept and Background
          </h4>
          <p class="fs-20 text-black">
            In today's world, challenging close friends/groups through social
            media is a growing viral trend. For instance, the ALS Ice Bucket
            Challenge took the world by surprise as they've acquired millions of
            participants and raised 115 million dollars. By studying trends such
            as the ALS Ice Bucket Challenge, we've learned that people enjoy
            participating in challenges that are social, entertaining and have a
            meaningful purpose. The Challenge for Change app was designed with
            that in mind.
          </p>

          <h4 class="mt-4">Progressive Web App vs. Native App</h4>
          <p class="fs-20 text-black">
            Along with a couple of interns, I researched the feasibility of
            implementing this application either through a progressive web app
            or a native mobile app. After extensive research we determined that
            a native application would be the best way to engage our targeted
            demographic for this app (millenials). A reason for this is that the
            app was initially designed to raise donations and we found that
            users easily trusted native apps with their payment information (due
            to people's perception of web security). Another reason is that
            mobile apps tend to have better performance and so we wanted to
            focus on giving the user a better and unique experience.
          </p>

          <h4 class="mt-4">My Role</h4>
          <p class="fs-20 text-black">
            My teammate and I lead the end-to-end design and development of the
            application. Our responsibilities/tasks include designing the
            wireframes, selecting the front-end and back-end technologies,
            designing and building the code, managing the database and liasing
            with stakeholders to meet project deliverables.
          </p>
          <h4 class="mt-4">Technologies used</h4>
          <ul class="mt-1">
            <li class="fs-20">NativeScript Angular</li>
            <li class="fs-20">Figma</li>
            <li class="fs-20">Firebase</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="wireframes">
    <div class="component-example">
      <div class="container">
        <div class="row justify-content-center p-0 mb-2">
          <div class="col-md-8">
            <h4>Wireframes</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="owl-carousel"
              data-items="[3,4]"
              data-margin="10"
              data-dots="true"
              data-nav="true"
            >
              <figure class="photo">
                <img
                  src="../../assets/images/images/challengeforchange/Login.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Sign Up.jpg"
                alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Profile Page.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Members.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Teams Page.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Leaderboard.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Current Challenges.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Challenge Detail.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Challenge Detail Comment.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Send Challenges.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                src="../../assets/images/images/challengeforchange/Home Page.jpg"
                  alt="Image"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
