<body>
  <!-- hero -->
  <section class="hero hero-with-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <h1 class="text-decorated"><b>Challenge For Change</b></h1>
          </div>
          <p class="fs-20">
            For Elevate Tech Jam 2019 Hackathon, my team and I created a
            scalable IoT point-of-sale for local businesses that simplifies the
            payment and dining experiences for customers. In short, our mission
            was to alleviate stress on small business who cannot afford to pay
            for sophisticated payment solutions.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img
            src="../../assets/images/images/ChallengeForChange.png"
            alt=""
            width="100%"
          />
          <h4 class="mt-5">
            Problem Insight
          </h4>
          <p class="fs-20 text-black">
            Diving a bill for a large group of diners is a painstakingly
            difficult task for servers. As a customer, the time spent waiting
            for a server to bring you the cash machine is a frustrating
            experience. Businesses lose out on revenue if they can’t provide
            convenient service.
          </p>

          <h4 class="mt-4">The User Experience</h4>
          <p class="fs-20 text-black">
            People who pass by a Promptu billboard (mural) will be invited to
            visit a website on their mobile device via short URL, NFC or QR
            code. On the mural, they will see a prompt such as "What's your
            favourite animal". Through their phone, the user will be able to
            answer that question and in turn receive 3 drawings sourced from
            Google's Quickdraw dataset. Once they pick one of the three
            drawings, they will see their drawing pop up on the big screen with
            a fact about the animal. On your mobile screen, you will be invited
            to take action. The action can come in the form of an email
            subscription, online donations, visiting a website, signing a
            petition + more. Once a mural becomes full of drawings, the screen
            will be captured and refreshed (to be stored on external
            website/social media).
          </p>

          <h4 class="mt-4">Next Steps</h4>
          <p class="fs-20 text-black">
            We aim to enhance the user experience by integrating a social call
            to action. Ideally, the finished product would include an option to
            continue the conversation on social media by sharing the mural via
            Instagram, Facebook, Snapchat, etc. Utilizing the #ImpactfulPrompts
            hashtag will generate a beautiful feed of unique murals categorized
            by topics.
          </p>
          <h4 class="mt-4">Technologies used</h4>
          <ul class="mt-1">
            <li class="fs-20">Node.js</li>
            <li class="fs-20">NativeScript Angular</li>
            <li class="fs-20">Mongo DB</li>
            <li class="fs-20">Arduino</li>
            <li class="fs-20">React</li>
            <li class="fs-20">Figma</li>
            <li class="fs-20">NFC</li>
            <li class="fs-20">3D Printing</li>
          </ul>
          <h4 class="mt-4">Waiter-facing UI</h4>
          <img
            src="../../assets/images/images/OrdrUp/tablet-screen/Main Page.png"
            alt=""
            width="100%"
            class="mt-2"
          />
          <img
            src="../../assets/images/images/OrdrUp/tablet-screen/Edit Order.png"
            alt=""
            width="100%"
            class="mt-2"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="wireframes">
    <div class="component-example">
      <div class="container">
        <div class="row justify-content-center p-0 mb-2">
          <div class="col-md-8">
            <h4>Customer-facing UI</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="owl-carousel"
              data-items="[3,4]"
              data-margin="10"
              data-dots="true"
              data-nav="true"
            >
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Tap Beacon-1.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Tap Beacon.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Order Summary - Waiter taking order.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Order Summary - Waiter taking order-1.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Order Summary - Waiter taking order-2.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Order Summary - Verified.png"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/OrdrUp/Payment.png"
                  alt="Image"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
