<body>
  <!-- hero -->
  <section class="hero hero-with-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <h1 class="text-decorated"><b>MedExpress</b></h1>
          </div>
          <p class="fs-20">
            MedExpress is a platform which allows patients to check into medical
            clinics and receive insights regarding their visits.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img
            src="../../assets/images/images/MedExpressLogo.png"
            alt=""
            width="100%"
          />
          <h4 class="mt-5">
            Problem Insight
          </h4>
          <p class="fs-20 text-black">
            Visits to the clinic are incredibly inefficient. From checking in to
            receiving the prescription, there are many mundane tasks that can be
            automated. Moreover, the lack of transparency from the clinic causes
            frustration as patients are unsure of their position in the queue.
            After the visit, you are also expected to remember all of the
            information the doctor provided. This is a system that has existed
            for too long and we believe this can be improved.
          </p>

          <h4 class="mt-4">The User Experience</h4>
          <p class="fs-20 text-black">
            When a patient enters a clinic, they can check into the clinic via a
            QR code. The web app then asks the users questions just like any
            receptionist would such as reason for visiting the clinic, symptoms,
            medication etc. The web app then tells the patient their current
            position in a queue and determines an estimated wait time.
          </p>
          <p class="fs-20 text-black">
            On the doctor's web app, a list of checked-in patients along with
            their medical information can be viewed. When the doctor begins a
            session with a patient, he/she can initiate the built-in voice
            recording software that will record the whole dialogue during the
            session. This dialogue is then analyzed using Natural Language
            Processing to fill out any necessary medical documents for the
            doctor. Lastly, the prescription is extracted from the dialogue and
            sent to the patient via an SMS. The patient can then reply to the
            message to obtain more information about the recent visit.
          </p>
          <h4 class="mt-4">View the Tech Stack Below</h4>
          <img
            src="../../assets/images/images/medexpress/tech-stack.png"
            alt=""
            width="100%"
            class="mt-2"
          />
          <h4 class="mt-4">Doctor-facing UI</h4>
          <img
            src="../../assets/images/images/medexpress/desktoplogin.png"
            alt=""
            width="100%"
            class="mt-2"
          />
          <img
            src="../../assets/images/images/medexpress/waitlist.png"
            alt=""
            width="100%"
            class="mt-2"
          />
          <img
            src="../../assets/images/images/medexpress/recording.png"
            alt=""
            width="100%"
            class="mt-2"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="wireframes">
    <div class="component-example">
      <div class="container">
        <div class="row justify-content-center p-0 mb-2">
          <div class="col-md-8">
            <h4>Patient-facing UI</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="owl-carousel"
              data-items="[3,4]"
              data-margin="10"
              data-dots="true"
              data-nav="true"
            >
              <figure class="photo">
                <img
                  src="../../assets/images/images/medexpress/one.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/medexpress/two.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/medexpress/three.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/medexpress/four.jpg"
                  alt="Image"
                />
              </figure>
              <figure class="photo">
                <img
                  src="../../assets/images/images/medexpress/five.jpg"
                  alt="Image"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
