
  <body>


   

        <!-- hero -->
        <section class="hero hero-with-header">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class = "d-flex justify-content-between">
                  <h1 class="text-decorated"><b>Promptu</b></h1>
                  <!-- <button class="btn text-white" style="background-color: #6d9eeb; outline: 0">View the Github Repo here <i class="icon-github fs-40"></i></button> -->
                </div>
                <p class = "fs-20">We have developed a social platform to raise awareness for various social issues. Speak into your phone and see your drawings appear on an eye catching digital billboard.</p>
              </div>
            </div>
            <div class = "row justify-content-center">
                <img class = "col-md-8" src="../../assets/assets/images/images/promptu.png" alt="" width="100%">
            </div>
            
          </div>    
        </section>
        <!-- / hero -->
        <section class = "container">
          <div class="row justify-content-center">
            <div class = "col-md-8">
                <p class = "fs-20 text-black">For the TOHacks-2019 Hackathon, my team and I decided to take on the challenge of bringing light to certain social issues. Instead of tackling one social issue, we decided to tackle all of them. Behold Promptu, the social platform for raising awareness using natural language processing and a unique dataset called Quick Draw by Google.</p>
            </div>
              
          </div>
        </section>

        <section>
     
            <div class="component-example">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="owl-carousel" data-items="[3,2]" data-margin="10" data-dots="true" data-nav="true">
                      <figure class="photo">
                        <img src="../../assets/assets/images/images/promptu/Web 1920 – 2.png" alt="Image">
                      </figure>
                      <figure class="photo">
                        <img src="../../assets/assets/images/images/promptu/Web 1920 – 5.png" alt="Image">
                      </figure>
                      <figure class="photo">
                        <img src="../../assets/assets/images/images/promptu/Web 1920 – 3.png" alt="Image">
                      </figure>
                      <figure class="photo">
                        <img src="../../assets/assets/images/images/promptu/Web 1920 – 4.png" alt="Image">
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </section>
            
    
      </body>
    