.image-cropper {
  height: auto;
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px 15px 15px 4px;
  border-color: #6d9eeb;
}

.col-12.col-md-6.col-lg-4 {
  cursor: pointer;
}
figure:hover {
  cursor: pointer;
}

.project-gallery {
  margin-top: -10vh;
  // margin-bottom: -75px;
}

.icon {
  max-height: 10vh;
}

// #projects {
//   padding-top: 1vh;
// }
.parallax-mountains {
  /* The image used */

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/mountains.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 65%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

.parallax-desk {
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/coffee.jpg");

  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  /* smartphones, Android phones, landscape iPhone */
  .image-cropper {
    width: 80%;
  }
}
