<body>
  <section style="height:80vh">
    <div class="container" style="margin-top:20vh;margin-bottom:20vh">
      <img src="../assets/images/Martin Mendoza Logo.png" class=" m-0 p-0" width="600" alt="">
      <h2 class="m-0 ml-2 p-0">Driving <span id="typed" style="font-weight: 500; color: #6d9eeb;"></span>into
        digital solutions.</h2>
      <div id="typed-strings">
        <p>creativity </p>
        <p>innovation </p>
        <p>functionality </p>
        ...
      </div>
      <ul class="socials">
        <li><a class="icon-linkedin fs-40" (click)="openWebsite('linkedIn')" style="color: #6d9eeb;cursor:pointer"></a>
        </li>
        <li><a class="icon-github fs-40" (click)="openWebsite('github')" style="color: #6d9eeb;cursor:pointer"></a></li>
        <li><a class="icon-vimeo fs-40" (click)="openWebsite('vimeo')" style="color: #6d9eeb;cursor:pointer"></a></li>
        <li><a class="icon-mail fs-40" (click)="openWebsite('email')" style="color: #6d9eeb;cursor:pointer"></a></li>
      </ul>
    </div>
    <!-- <div class="swiper-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div> -->
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="masonry row gutter-2">
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile tile-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/MedExpressLogo.png)"></div>
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile tile-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/ecoSNAPNew.png)"></div>
          
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile tile-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/promptu.png)"></div>
          
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile tile-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/OrdrUp.PNG)"></div>
          
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile tile-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/ChallengeForChange.png)"></div>
          
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile title-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/jackstones.png)"></div>
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile title-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/worldrefugeeday.png)"></div>
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile title-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/chineseradiothon.png)"></div>
              </article>
            </li>
            <li class="col-12 col-md-6 col-lg-4" data-aos="zoom-in">
              <article class="tile title-short">
                <div class="tile-image" style="background-image: url(../assets/images/images/bluetootharduino.png)"></div>
              </article>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </section>
  <!-- / right sidebar -->


  <section class="parallax-mountains">
    <!-- <div class="image image-overlay image-scrolling" style="background-image:url(../assets/images/mountains.jpg)"
        data--100-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(650px);">
      </div> -->
 


    <div class="tab-pane show active container" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
      <div class="row justify-content-center ">
        <div class="col-md-10 col-lg-8">

          <h1 class="text-center text-white">Experience</h1>
          <div class="container" data-aos="zoom-out">
            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">Incoming Amplify Developer Intern</h3>
                  <h5>Royal Bank of Canada</h5>
                </div>
                <img class="col-4 col-md-2 icon" src="../assets/images/RBC.jpg" alt="">
              </div>

            </div>
          </div>

          <div class="container" data-aos="zoom-out">

            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">Technology and Innovation Intern</h3>
                  <h5>World Vision Canada</h5>
                </div>
                <img class="col-4 col-md-2 icon" src="../assets/images/worldvision.jpg" alt="">
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-8">
                  <ul>
                    <li>Lead end-to-end design and development of a real-time web gaming platform using Figma, Vue.js,
                      Node.js and Socket.io</li>
                    <li>Developed an augmented reality application which was used to acquire child sponsorships at World
                      Vision's Chinese Radiothon (1000 Girls Campaign)</li>
                    <li>Created a Virtual Reality Experience for World Refugee Day that was displayed at Union Station
                    </li>
                    <li>Lead end-to-end design and development of a social app that is currently being used for World
                      Vision's Global 6K marathon</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="container" data-aos="zoom-out">
            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">Technology R&D Intern</h3>
                  <h5>World Vision Canada</h5>
                </div>
                <img class="col-4 col-md-2 icon" src="../assets/images/worldvision.jpg" alt="">
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12">
                  <ul>
                    <li>Gained experience designing UI/UX by building the team’s website using HTML, CSS and JavaScript
                    </li>
                    <li>Developed several engagement tools for Snapchat’s AR platform using Lens Studio's JavaScript API
                    </li>
                    <li>Familiarized with Unity's C# scripting API and created several augmented reality experiences
                      through Google's ARCore and Vuforia
                    </li>
                    <li>Co-ordinated engagement methods and products with Channel Innovation team to optimize
                      engagement delivery</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

          <h1 class="text-center text-white">Hackathons</h1>

          <div class="container" data-aos="zoom-out">
            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">Elevate Tech Jam 2019</h3>
                  <h5>Elevate</h5>
                </div>
                <img src="../assets/images/Elevate.png" alt="" class="col-4 col-md-2 icon">
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12">
                  <ul>
                    <li>Gained experience designing UI/UX by building the team’s website using HTML, CSS and JavaScript
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="container" data-aos="zoom-out">
            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">TOHacks 2019</h3>
                  <h5>TOHacks</h5>
                </div>
                <img src="../assets/images/TOHacks.jpg" alt="" class="col-4 col-md-2 icon">
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12">
                  <ul>
                    <li>Collaborated with UX designers to create an interactive platform for raising awareness on
                      various social issues
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="container" data-aos="zoom-out">
            <div class="boxed p-2 scaling mb-5">
              <div class="row m-0 p-0">
                <div class="col-8 col-md-10">
                  <h3 class="p-0 m-0">HackWESCAM 2019</h3>
                  <h5>L3 WESCAM</h5>
                </div>
                <img src="../assets/images/L3Wescam.jpg" alt="" class="col-4 col-md-2 icon">
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-12">
                  <ul>
                    <li>Programmed a drone to maintain its position and control other drones using a custom C++ SDK and
                      Open CV
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </div>

          <div class="text-center">
            <h2 class="text-center text-white">Download a PDF of my Resume below!</h2>
            <button class="btn text-white" style="background-color: #6d9eeb; outline: 0"
              (click)="downloadResume()">Download Resume</button>

          </div>
        </div>

      </div>


    </div>

  </section>

  <!-- hero -->
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">Here's a little bit <b>about me</b></h1>
          <div class="text-center">
            <img src="../assets/images/images/Martin.jpg" alt="Martin" class="MartinPhoto image-cropper mb-5"
              data-aos="zoom-in">
          </div>

          <p class="text-black fs-20">If there's anything you need to know about me, it's that I love to learn. I am
            driven by the pursuit of
            knowledge and I am easily fascinated (not even joking). I am also an avid Netflix user and I enjoy singing +
            playing musical instruments.

            If you would like to learn more about me, reach out to me through email and be sure to check out my
            LinkedIn, Github, and Vimeo.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- / hero -->

  <section class="parallax-desk">

    <!-- <div class="image image-overlay image-scrolling" style="background-image:url(../assets/images/coffee.jpg)"
        data--100-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(300px);">
      </div> -->

    <!-- tab settings -->
    <div class="tab-pane show active container" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
      <div class="row justify-content-center ">
        <div class="col-md-10 col-lg-8">

          <h1 class="text-center text-white">Hit me up!</h1>
          <div class="row">
            <div class="col">
              <h5 class="mb-3 fs-20 font-weight-normal text-center text-white">If you have any questions or want to
                collaborate, I'd love to hear from you!</h5>
              <form>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="firstName" class="text-white">First Name</label>
                      <input type="email" class="form-control" id="firstName" aria-describedby="firstName"
                        placeholder="John">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="secondName" class="text-white">Second Name</label>
                      <input type="email" class="form-control" id="secondName" aria-describedby="secondName"
                        placeholder="Doe">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="userMail" class="text-white">Email address</label>
                      <input type="email" class="form-control" id="userMail" aria-describedby="userMail"
                        placeholder="johndoe@example.com">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1" class="text-white">Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1"
                        placeholder="Anything you want to say." rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-row mt-1 align-items-center">
                  <div class="col-3">
                    <button class="btn text-white" style="background-color: #6d9eeb; outline: 0">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


</body>