<body>
  <!-- hero -->
  <section class="hero hero-with-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <h1 class="text-decorated"><b>Radiothon Booth</b></h1>
          </div>
          <p class="fs-20">
            For World Vision Canada's Chinese Radiothon 2019, I was tasked with creating an engaging experience that would draw attention to their retail booth.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <img
            src="../../assets/images/images/chineseradiothon.png"
            alt=""
            width="100%"
          />   
          <h4 class="mt-4">Technologies used</h4>
          <ul class="mt-1">
            <li class="fs-20">Unity 3D </li>
            <li class = "fs-20">Vuforia Plugin</li>
            <li class = "fs-20">Assets from the asset store</li>
            <li class = "fs-20">C# Programming</li>
          </ul>

          <h4 class="mt-4">View a demo</h4>
          <div style="position:relative;padding-top:56.25%;">
            <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://player.vimeo.com/video/347959676" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
  </section>
</body>
